.chat-button {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background: #2563eb;
    color: white;

    font-size: 26px;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0,0,0,.2);

    z-index: 999;
}

.chat-button:hover {
    background: #1d4ed8;
}